:root{
	--primary-clr:#d9d9d9;
	--secondary-clr:#0a8eac;
	--neutral-clr:#fff;
}
// Tacit - CSS Framework for Dummies, Without Classes
@import url('https://unpkg.com/tacit-css@1.5.5/dist/tacit-css-1.5.5.min.css');

@import "~highlight.js/scss/a11y-dark";
@import "~notyf/notyf.min";


body{font-family: 'Varela Round', "Barlow", "Source Sans Pro", "Segoe UI", sans-serif;text-rendering: optimizeLegibility;}
p {color: #777;}
hr{border-color: var(--primary-clr);}
button[data-sharer] {color: #fff;}
a,::marker{transition: all 0.5s ease;}
a.fancy-anchor {position: relative;text-decoration: none;/*color: #ffd60ab0*/;}
/*a.fancy-anchor:hover,a.fancy-anchor:focus {color: #ffd60a;}*/
a.fancy-anchor::before{content: "";position: absolute;left: 0;top: 98%;width: 100%;height: 2px;background: #ffe681;transform-origin: right;transform: scaleX(0);transition: transform 350ms ease-in;}
a.fancy-anchor:hover::before,a.fancy-anchor:focus::before {transform: scaleX(1);transform-origin: left;}
li a{display: block;text-decoration:none;}
header, footer {background-color: var(--primary-clr);}
article, header, footer {padding: 2.5rem;}
header{position:relative;background-image:url(https://res.cloudinary.com/amalkong/image/upload/v1633478734/home-banner_ulrwns.jpg);background-repeat:no-repeat;background-size:contain;background-attachment:fixed;border: 1px solid #d9d9d9;}
header h1{background-color: rgba(0,0,0,0.4);text-shadow: -1px 0px 1px #d9d9d980;}
header ul {position:absolute;top:0;right:0;list-style:none;background-color:#acabab;}
header ul li{display:inline-flex;}
header ul li a {color:var(--neutral-clr);display:block;padding:0.25rem 0.5rem;}
header ul li a:hover{background-color:var(--secondary-clr);text-decoration:none;}
.main-nav{position:sticky;top:0;display:flex;background-color:var(--secondary-clr);}
.main-nav ul{display: flex;margin:0;}
.main-nav ul li{margin:0;}
.main-nav ul li a {color:var(--neutral-clr);padding:0.25rem 0.5rem;}
.main-nav ul li a:hover,nav ul li a.selected {color:var(--secondary-clr);background-color:var(--neutral-clr);text-decoration:none;}
section h1:first-child {margin-top: 18px;}

footer{border-top: 2px solid #0a8eac;}

.test-css {padding: 5px;border: 2px solid blue;}
.heading {background-color: rgba(0,0,0,0.3);padding: 1rem;color: var(--neutral-clr);}
.panel {padding: 1rem;background-color: #ddd;margin-bottom: 1.5rem;border-radius: 4px;}
.panel h3 {margin: auto;font-size: 1.5rem;color: #444;}
.panel ul {list-style-type: square;}
.panel li::marker {color: #777;}

.panel ul li a {display: inline-flex;align-items: center;}
.panel ul li a > i {margin-right: 5px;}

.post-date {
    display: flex;
    align-items: center;
}
.post-date > i{margin-right:5px;font-size: 80%;}
.post-date strong {margin-right: 5px;}

.nav-close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5em 1em;
    border-radius: 50px;
    z-index: 9;
	display:none;
}
.nav-menu-button {
    margin: 0;
    padding: 0.125em 1.25em;
    border-radius: 0;
    border-right: 4px solid #4f9eb0;
}

@media (max-width:767px) {
	body,pre{padding: 0;}
	article, footer {padding: 0.75rem;}
	header{
		padding: 1.5rem;
		background-image:url(https://res.cloudinary.com/amalkong/image/upload/v1633478734/home-banner_ulrwns.jpg);
		/*background-image:url(https://loremflickr.com/400/200/landscape);border: 1px solid #d9d9d9;*/
		background-size: 100% 230px;
		background-repeat:no-repeat;
		border: 0;
	}
	.main-nav {
		display:flex;
		width:100%;
		/* height:100%;
		transform: scale(1,0);
		transform-origin: top; */
		transition: all 0.5s ease-in;
	}
	.main-nav.toggled{
		position:fixed;
		width: 100vw;
		height: 100vh;
		padding-top:4rem;
		/* transform:scale(1,1); */
		transition: all 0.5s ease-out;
	}
	.main-nav ul{
		width: 100%;
		height: 100%;
		transform: scale(1,0);
		transform-origin: top;
		transition: transform 0.5s ease-out;
		order:3;
	}
	.main-nav.toggled ul{
		flex-direction:column;
		transform:scale(1,1);
	}
	.main-nav .nav-menu-button {
		order:1;
		display:block;
		margin: 2px;
		/*padding: 0.125em 0.75em;*/
	}
	.main-nav.toggled .nav-menu-button {display:none;}
	.main-nav .nav-close-button {order:2;display:none;}
	.main-nav.toggled .nav-close-button {display:block;}
}
